html, 
body {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.maincontent {
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.slider__container {
  overflow: hidden;
}

.slider__track {
  display: flex;
}

section {
  height: 100%;
  min-height: 511px;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1140px;
  position: relative;
}

.second__container {
  width: 55%;
}

.first__slider {
  background: url('../img/bg1.png') top 80% center/cover no-repeat;
  color: #0d319c;
}

.second__slider {
  background: url('../img/bg2.png') bottom 40% center/cover no-repeat;
  color: #fff;
}

.third__slider {
  background: url('../img/bg3.png') center center/cover no-repeat;
  color: #fff;
}

.container__title {
  font-size: 56px;
  margin: 0;
  font-family: GothamPro, sans-serif;
  font-weight: normal;
  text-align: left;
  letter-spacing: 3px;
}

.container__title--first {
  padding-top: 100px;
  padding-right: 100px;
}

.container__title--center {
  text-align: center;
  font-family: GothamProLight, sans-serif;
  padding-top: 230px;
}

.targets {
  position: relative;
}

.target {
  display: flex;
  flex-direction: column;
  position: absolute;
  display: flex;
  align-items: center;
}

.first__target {
  top: 35px;
  right: 232px;
  flex-direction: row;
}

.second__target {
  top: 175px;
  left: 198px;
}

.third__target {
  top: 287px;
  left: 350px;
  align-items: flex-end;
}

.fourth__target {
  top: 268px;
  right: 126px;
}

.target__text {
  font-size: 20px;
  font-family: LatoRegular;
}

.target__first-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #f78b1f;
  display: block;
  position: relative;
  margin-right: 13px;
}

.target__first-circle:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: radial-gradient(circle at 0 0, #de791b, #cf1437);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.target__second-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #f78b1f;
  display: block;
  position: relative;
}

.target__second-circle:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: radial-gradient(circle at 0 0, #de791b, #cf1437);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.target__third-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #f78b1f;
  display: block;
  position: relative;
  margin-right: 35px;
}

.target__third-circle:before {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: radial-gradient(circle at 0 0, #de791b, #cf1437);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.target__fourth-circle {
  display: block;
  position: relative;
  margin-top: 5px;
}

.target__fourth-circle:before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: radial-gradient(circle at 0 0, #de791b, #cf1437);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.fixed-menu {
  position: fixed;
  top: 47%;
  right: 5%;
}

.fixed-menu__item {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}

.fixed-menu__link{
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.fixed-menu__item--active .fixed-menu__link {
  background: #f78b1f;
}