html, 
body {
  height: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
}

.wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.maincontent {
  background: url('../img/bg.jpg') top center/cover no-repeat;
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

.slider__container {
  overflow: hidden;
}

.slider__track {
  display: flex;
}

section {
  height: 100%;
  min-height: 768px;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1140px;
  position: relative;
}

.first__slider {
  color: #0d319c;
}

.container__title {
  font-size: 100px;
  margin: 0;
  font-family: GothamProLight;
  font-weight: normal;
  text-align: left;
}

.container__title--white {
  color: #ffffff;
  
}

.target__text {
  font-size: 40px;
  font-family: LatoRegular;
}

.fixed-menu {
  position: fixed;
  top: 37%;
  right: 3%;
}

.fixed-menu__item {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
}

.fixed-menu__link{
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.fixed-menu__item--active .fixed-menu__link {
  background: #f78b1f;
}